body {
  margin: 0;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  position: relative;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #66ccff;
  border-radius: 50%;
  position: absolute;
  transition: 0.2s;
  color: #2ca0ff;
  font-weight: bold;
  text-align: center;
  line-height: 60px; /* circle の高さに合わせて縦中央 */
  user-select: none; /* テキストの選択を防止 */
}

.circle:hover {
  background-color: #3399ff;
}

.piece {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
  text-align: center;
  line-height: 60px;
  user-select: none;
  pointer-events: auto; /* コマにクリックイベントを有効化 */
  cursor: pointer; /* クリックできる感じに */
}
